.card {
  transition: transform 0.2s; /* تأثير التحويل عند التمرير */
}
.card:hover {
  transform: scale(1.02); /* تكبير البطاقة عند التمرير فوقها */
}

/* تحسينات للزر */
.btn-primary {
  transition: background-color 0.3s, color 0.3s;
}
.btn-primary:hover {
  background-color: #0056b3; /* لون أغمق عند التمرير فوق الزر */
  color: #ffffff;
}
header
{
  margin-top: 90px;
}
