<div class="container mt-5">
  <h2>Login</h2>
  <form (submit)="onSubmit()">
    <div class="form-group mt-3 mb-2">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary mt-3 mb-2">Login</button>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </form>
</div>
